/***************/
/**** RESET ****/
/***************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*****************/
/**** GENERAL ****/
/*****************/

.container {
    display: flex;
    max-width: 1380px;
    align-items: center;
}

.debugger {
    border: 1px solid red;
    height: 50px;
}

img {
    max-height: 30px;
}

/****************/
/**** HEADER ****/
/****************/

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

header {
    background-color: #ff6900;
    font-weight: bold;
    font-size: 13px;
    box-shadow: 0 1px 4px 0 #000000;
    position: sticky;
    top: 0;
}

nav {
    margin: 0 auto;
    color: #ffffff;
}

.logo {
    flex-grow: 3;
    text-align: center;
    padding: 15px;
}


/****************/
/***** MAIN *****/
/****************/


/****************/
/**** FOOTER ****/
/****************/

