/***************/
/**** RESET ****/
/***************/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*****************/
/**** GENERAL ****/
/*****************/

.container {
    display: flex;
    max-width: 1380px;
    align-items: center;
    margin: 0 auto;
}

.debugger {
    border: 1px solid red;
    /* height: 50px; */
}

img {
    max-height: 30px;
}

h3 {
    font-size: 15px;
}

/****************/
/**** HEADER ****/
/****************/

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

header {
    background-color: #ff6900;
    font-weight: bold;
    font-size: 13px;
    box-shadow: 0 1px 4px 0 #000000;
    position: sticky;
    top: 0;
    color: #ffffff;
}

.logo {
    flex-grow: 3;
    text-align: center;
    padding: 15px;
}


/****************/
/***** MAIN *****/
/****************/

main .container {
    gap: 20px;
    flex-wrap: wrap;
}

.box-container {
    display: flex;
    min-width: 445px;
    flex-direction: column;
}


/****************/
/**** FOOTER ****/
/****************/

footer {
    background-color: #1a1a1a;
    color: #ffffff;
    margin-bottom: 1px;
}

footer .container {
    justify-content: space-between;
    align-items: center;
}

footer .f-box1 ul li {
    font-size: 10px;
}

footer .f-box2 ul li {
    font-size: 15px;
}

footer h3 {
    margin-bottom: 5px;;
}

.f-box1, .fbox-2 {
    padding: 25px 0;
}